# Bí mật
**/.env

# Dữ liệu và kết quả sinh ra
**/data/git_web_ml/
**/data/processed/
**/data/external/
**/outputs/
**/outputs_old/
**/src_old/

# File nén, cache
*.zip
__pycache__/
*.pyc
.ipynb_checkpoints/